# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Data (не копируем в образ)
data/
*.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Git
.git/
.gitignore