# Matrix
MATRIX_HOMESERVER=https://matrix.domain.local
MATRIX_BOT_USERNAME=@auto_bot:matrix.domain.local
MATRIX_BOT_PASSWORD=your_password
MATRIX_DOMAIN=matrix.domain.local

# Роли (логины без @ и домена)
AUTO_ADMINS=a.avdeev,b.belkin
AUTO_TRANSPORT=dispatcher1,dispatcher2

# GLONASS
GLONASS_URL=https://hosting.glonasssoft.ru/api/v3/
GLONASS_LOGIN=login
GLONASS_PASSWORD=password
BUS_IDS=413422,413424,523550
TRUCK_IDS=523347,523352
CAR_IDS=494406,523477

# System
REDIS_URL=redis://redis:6379/0
TIMEZONE=UTC+7
